
<app-header></app-header>
<app-nav-bar></app-nav-bar>

  <div class="container" style="margin-top: 50px;margin-bottom: 50px">
    <mat-card class="my-card">
        <mat-card-content>
<div class="row" style="margin-top:10px">
  <div class="col-md-12" align="center">
    <h2> Substation Details</h2>
  </div>
</div>

<div class="row">


<div class="col-md-1"></div>
<div class="col-md-10">

  <button mat-raised-button  color="primary"  (click)="add()" > Add</button>
  <h2> </h2>
   <table class="table table-hover " id="manageAccountTable">
    <thead>
    <tr>
      <th class="hidden">Sno.</th>
      <th>Substation Name</th>
       <th>Substation code</th>
       <th>Power transformer</th>
       <th>Incomming line</th>
       <th>Zone</th>
       <th>Action</th>
    </tr>
    </thead>
    <tbody >
      <tr *ngFor="let subzone of substationList; let i = index">
        <td class="hidden">{{i + 1}}</td>
      <td>{{subzone.substation.substationName}}</td>
      <td>{{subzone.substation.substationCode}}</td>
      <td>{{subzone.substation.powerTransformer}}</td>
      <td>{{subzone.substation.incomingLines}}</td>
      <td>{{subzone.zone.name}}</td>
      
      <td> 
          <div class="example-button-row">
        <button mat-mini-fab color="primary" (click)="edit(subzone)" ><mat-icon matSuffix>edit</mat-icon></button>&nbsp;&nbsp;
        <button mat-mini-fab  color="warn" (click)="delete(subzone.substation)"> <mat-icon matSuffix>delete</mat-icon></button>
        </div>
      </td>
      </tr>
    </tbody>
  </table>

  <hr>


</div>
<div class="col-md-2"></div>
</div>
</mat-card-content>
</mat-card>
</div>

<app-footer></app-footer>