<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #0c0d52;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#"></a>
   <!--  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="https://portal.mpcz.in/web"  style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
        text-decoration: none;text-transform: uppercase; margin-left:60px;"><font color="#6bdfff">Home </font> <span class="sr-only">(current)</span></a>
      </li>&nbsp;&nbsp;

   <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
        text-decoration: none;text-transform: uppercase;"> ABOUT US</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #0c0d52;">
          <li>
            <a class="dropdown-item" href="https://portal.mpcz.in/web/company-profile/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
            text-decoration: none;text-transform: uppercase;background: transparent ">COMPANY PROFILE</a>
          </li>

          <li>
            <a class="dropdown-item" href="https://portal.mpcz.in/web/about-us/mission-and-vision/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
            text-decoration: none;text-transform: uppercase;background: transparent">MISSION AND VISION</a>
          </li>
          <li>
            <a class="dropdown-item" href="https://portal.mpcz.in/web/message-from-md/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
            text-decoration: none;text-transform: uppercase;background: transparent">Message from MD</a>
          </li>
          <li>
            <a class="dropdown-item" href="https://portal.mpcz.in/web/board-of-directors/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
            text-decoration: none;text-transform: uppercase;background: transparent">Board of Directors</a>
          </li>
          <li>
            <a class="dropdown-item" href="https://portal.mpcz.in/web/organization-structure/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
            text-decoration: none;text-transform: uppercase;background: transparent">Organization	Structure <br> with Human Resource details</a>
          </li>

          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
            text-decoration: none;text-transform: uppercase;background: transparent">PERFORMANCE</a>
            <ul class="dropdown-menu" style="background-color: #0c0d52;">

               <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="https://portal.mpcz.in/web/transformer-details/"  style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
                text-decoration: none;text-transform: uppercase;background: transparent">Transformer	Details</a>
                <ul class="dropdown-menu" style="background-color: #0c0d52;">
                  <li>
                    <a class="dropdown-item" href="https://portal.mpcz.in/web/power-transformer/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
                    text-decoration: none;text-transform: uppercase;background: transparent">Power	Transformer</a>
                    </li>
                  <li>
                    <a class="dropdown-item" href="dropdown-item" href="https://portal.mpcz.in/web/distribution-transformer/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
                    text-decoration: none;text-transform: uppercase;background: transparent">Distribution Transformer</a>
                  </li>
                </ul>
              </li>
                <li>
                  <a class="dropdown-item" href="dropdown-item" href="https://portal.mpcz.in/web/energy-audit/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
                  text-decoration: none;text-transform: uppercase;background: transparent">Energy Audit</a>
                </li>
              </ul>
          </li>
          <li>
            <a class="dropdown-item" href="https://portal.mpcz.in/web/company-annual-report/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
            text-decoration: none;text-transform: uppercase;background: transparent">Company Annual Report</a>
          </li>
          <li>
            <a class="dropdown-item" href="https://portal.mpcz.in/web/awards-and-recognition/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
            text-decoration: none;text-transform: uppercase;background: transparent">Awards and Recognition</a>
          </li>
        </ul>
      </li>&nbsp;&nbsp;
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
        text-decoration: none;text-transform: uppercase;"> MEDIA</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #0c0d52;">
          <li>
            <a class="dropdown-item" href="https://portal.mpcz.in/web/gallery/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
            text-decoration: none;text-transform: uppercase;background: transparent ">Gallery</a>
          </li>
          <li>
            <a class="dropdown-item" href="https://portal.mpcz.in/web/news-events/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
            text-decoration: none;text-transform: uppercase;background: transparent ">News Events</a>
          </li>
          <li>
            <a class="dropdown-item" href="https://portal.mpcz.in/web/press-releases/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
            text-decoration: none;text-transform: uppercase;background: transparent ">Press Releases</a>
          </li>
          </ul>
      </li>&nbsp;&nbsp;
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
        text-decoration: none;text-transform: uppercase;"> Customer Services</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #0c0d52;">
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
            text-decoration: none;text-transform: uppercase;background: transparent">LT Connection</a>
            <ul class="dropdown-menu" style="background-color: #0c0d52;">
              <li>
                <a class="dropdown-item" href="#/bill-Payment" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
                text-decoration: none;text-transform: uppercase;background: transparent ">Online Bill Payment</a>
              </li>
              <li>
                <a class="dropdown-item" href="#/login" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
                text-decoration: none;text-transform: uppercase;background: transparent ">Consumer Login</a>
              </li>
              <li>
                <a class="dropdown-item" href="http://isampark.mpcz.in/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
                text-decoration: none;text-transform: uppercase;background: transparent ">SAMPARK - Call Centre</a>
              </li>
              <li>
                <a class="dropdown-item" href="https://sankalp.mpcz.in/NSC/home" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
                text-decoration: none;text-transform: uppercase;background: transparent ">SANKALP - New Service <br>Connection</a>
              </li>
              <li>
                <a class="dropdown-item" href="https://portal.mpcz.in/web/customer-facilities/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
                text-decoration: none;text-transform: uppercase;background: transparent ">Customer Facilities</a>
              </li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
            text-decoration: none;text-transform: uppercase;background: transparent">HT Connection</a>
            <ul class="dropdown-menu" style="background-color: #0c0d52;">
              <li>
                <a class="dropdown-item" href="https://www.onlinesbi.com/sbicollect/icollecthome.htm?corpID=25475" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
                text-decoration: none;text-transform: uppercase;background: transparent ">Pay your HT Bill</a>
              </li>
            </ul>
          </li>

          <li>
            <a class="dropdown-item" href="https://portal.mpcz.in/web/citizen-charter-supply-code/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
            text-decoration: none;text-transform: uppercase;background: transparent ">Citizen Charter &#038; Supply <br>Code</a>
          </li>
          <li>
            <a class="dropdown-item" href="https://portal.mpcz.in/web/download/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
            text-decoration: none;text-transform: uppercase;background: transparent ">Download</a>
          </li>
          </ul>
      </li>&nbsp;&nbsp;
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
        text-decoration: none;text-transform: uppercase;"> MPERC Regulations</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #0c0d52;">
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="https://portal.mpcz.in/web/commercial-2/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
            text-decoration: none;text-transform: uppercase;background: transparent">Commercial</a>
            <ul class="dropdown-menu" style="background-color: #0c0d52;">
              <li>
                <a class="dropdown-item" href="https://portal.mpcz.in/web/tariff-details/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
                text-decoration: none;text-transform: uppercase;background: transparent ">Tariff Details</a>
              </li>
              <li>
                <a class="dropdown-item" href="https://portal.mpcz.in/web/filing-of-arr/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
                text-decoration: none;text-transform: uppercase;background: transparent ">Filing Of ARR</a>
              </li>

            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
            text-decoration: none;text-transform: uppercase;background: transparent">Report Of Compliance</a>
            <ul class="dropdown-menu" style="background-color: #0c0d52;">
              <li>
                <a class="dropdown-item" href="https://portal.mpcz.in/web/report-of-compliance/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
                text-decoration: none;text-transform: uppercase;background: transparent ">Quarterly Information</a>
              </li>
              <li>
                <a class="dropdown-item" href="https://portal.mpcz.in/web/reliability-index/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
                text-decoration: none;text-transform: uppercase;background: transparent ">Reliability Index</a>
              </li>
            </ul>
          </li>

          <li>
            <a class="dropdown-item" href="https://portal.mpcz.in/web/right-to-information-rti/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
            text-decoration: none;text-transform: uppercase;background: transparent ">Right To Information <br>(RTI) Act</a>
          </li>
          <li>
            <a class="dropdown-item" href="https://portal.mpcz.in/web/faqs/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
            text-decoration: none;text-transform: uppercase;background: transparent ">Frequently Asked <br>Questions (FAQ&#8217;s)</a>
          </li>
          </ul>
      </li>&nbsp;&nbsp;
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
        text-decoration: none;text-transform: uppercase;"> Employee Corner</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #0c0d52;">
            <li>
                <a class="dropdown-item" href="https://portal.mpcz.in/web/secretariat/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
                text-decoration: none;text-transform: uppercase;background: transparent ">Secretariat</a>
              </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
            text-decoration: none;text-transform: uppercase;background: transparent">Sections</a>
            <ul class="dropdown-menu" style="background-color: #0c0d52;">
                <li>
           <a class="dropdown-item" href="https://portal.mpcz.in/web/employee-corner/commercial-section/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
             text-decoration: none;text-transform: uppercase;background: transparent ">Commercial</a>
            </li>
           <li>
            <a class="dropdown-item" href="https://portal.mpcz.in/web/employee-corner/finance/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
                      text-decoration: none;text-transform: uppercase;background: transparent ">Finance</a>
            </li>
             <li>
             <a class="dropdown-item" href="https://portal.mpcz.in/web/employee-corner/human-resources/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
                        text-decoration: none;text-transform: uppercase;background: transparent ">Human Resources</a>
             </li>
            <li>
            <a class="dropdown-item" href="https://portal.mpcz.in/web/employee-corner/i-t/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
                          text-decoration: none;text-transform: uppercase;background: transparent ">Information Technology</a>
             </li>
             <li>
             <a class="dropdown-item" href="https://portal.mpcz.in/web/employee-corner/procurement/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
                            text-decoration: none;text-transform: uppercase;background: transparent ">Procurement</a>
              </li>
              <li>
             <a class="dropdown-item" href="https://portal.mpcz.in/web/employee-corner/qcmm/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
                     text-decoration: none;text-transform: uppercase;background: transparent ">QCMM</a>
             </li>
            <li>
            <a class="dropdown-item" href="https://portal.mpcz.in/web/employee-corner/plm/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
                text-decoration: none;text-transform: uppercase;background: transparent ">SM &#038; O</a>
             </li>
           <li>
         <a class="dropdown-item" href="https://portal.mpcz.in/web/works/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
           text-decoration: none;text-transform: uppercase;background: transparent ">Works &#038; Planning</a>
          </li>

     </ul>
     </li>
     <li>
        <a class="dropdown-item" href="https://portal.mpcz.in/web/power-distribution-trainng-centre/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
       text-decoration: none;text-transform: uppercase;background: transparent ">Power Distribution Training Centre</a>
       </li>
       <li>
          <a class="dropdown-item" href="https://portal.mpcz.in/web/employee-corner/in-house-applications/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
         text-decoration: none;text-transform: uppercase;background: transparent ">Internal Use Applications</a>
         </li>

      <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="#" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
        text-decoration: none;text-transform: uppercase;background: transparent">Other Links</a>
        <ul class="dropdown-menu" style="background-color: #0c0d52;">
            <li>
       <a class="dropdown-item" href="https://nsdl.co.in/" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
         text-decoration: none;text-transform: uppercase;background: transparent ">NSDL</a>
        </li>
        <li>
            <a class="dropdown-item" href="https://www.epfindia.gov.in/site_en/index.php" style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
              text-decoration: none;text-transform: uppercase;background: transparent ">EPFO</a>
             </li>
</ul>
      </li>
          </ul>
      </li>&nbsp;&nbsp;
      <li class="nav-item dropdown">
          <a class="nav-link" href="https://portal.mpcz.in/web/careers/"  style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
          text-decoration: none;text-transform: uppercase;"> Careers</a>

      </li>&nbsp;&nbsp;
      <li class="nav-item dropdown">
          <a class="nav-link" href="https://portal.mpcz.in/web/tenders/"   style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
          text-decoration: none;text-transform: uppercase;"> Tenders</a>

      </li>&nbsp;&nbsp;
      <li class="nav-item ">
          <a class="nav-link" href="https://portal.mpcz.in/web/contact-us/"   style="font-size: 13px;font-family: Open Sans, Helvetica, Arial, sans-serif;font-weight: 400;color: #ffffff;min-height: 24px;line-height: 24px;
          text-decoration: none;text-transform: uppercase;"> Contact Us</a>
        
      </li>
  </ul> -->

  </div>
</nav>
